@model CheckWriterViewModel

@{
	ViewData["Title"] = "Check Writer";
}

<div>
	<h4>Check Writer</h4>
	<hr />
	<div class="row">
		<div class="col-md-6">
			<form asp-action="Calculate">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="form-group">
					<label asp-for="PersonName" class="col-form-label"></label>
					<input asp-for="PersonName" class="form-control" />
					<span asp-validation-for="PersonName" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="CheckAmount" class="col-form-label"></label>
					<input asp-for="CheckAmount" class="form-control" />
					<span asp-validation-for="CheckAmount" class="text-danger"></span>
				</div>
				<div class="form-group">
					<input type="submit" value="Write Check" class="btn btn-primary" />
				</div>
			</form>
		</div>
	</div>
</div>
<div>
	<a asp-action="IndexNoJS">Reset</a>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
